body {
    --red: #631217;
    --yellow: #FFCA59;
    margin: 0;
    background-color: #575756;
    background: url(resources/bg.jpg) fixed 50% 50%; 
    background-repeat: repeat;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    overflow: visible;
    
}

.animatie {
    margin-top: 17vh;
    display: flex;
    justify-content: center;
}

.pa {
    height: 20vh;
}

#img1 {
    transform: rotate(-6deg);
    animation: kchow1 3s linear 1s infinite;
    margin-left: 48vw;
    z-index: 5;
}

#img2 {
    opacity: 0;
    animation: kchow2 3s linear 1s infinite;
    transform: translateX(-17vw);
    z-index: 5;
}

#lumina {
    opacity: 0;
    display: inline-block;
    z-index: 10;
    transform: translate(-30vw, 0.75vw) scale(80%);
    animation: kchow3 3s linear 1s infinite;
}

#text {
    display: inline-block;
    z-index: 4;
    opacity: 0;
    transform: translate(-51vw, -5.5vw) rotate(-10deg);
    animation: kchow2 3s linear 1s infinite;
}

@keyframes kchow1 {
    0% { opacity: 0; }
    20% { opacity: 0; }
    21% {opacity: 1;}
}

@keyframes kchow2 {
    0% { opacity: 1;
    }
    20% { opacity: 1; }
    21% { opacity: 0; }
}

@keyframes kchow3 {
    0% { opacity: 90%; }
    20% { opacity: 90%; }
    21% {opacity: 0;}
}


.line {
    background-color: var(--yellow);
    height: 0.5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 2vw;
}

.dropdown {
    position: relative;
    /* margin-left: 10vw; */
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover > .dropdown-content {
    display: block;
}

#logo {
    height: 8vh;
    margin-left: 7vw;
}

footer {
    background-color: var(--red);
    margin-top: 60px;
    text-align: left;
    max-width: 100% !important;
    position: absolute;
    left: 0;
    width: 100vw;
}

#contact {
    text-align: center;
}

.meniu {
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100vw;
    background-color: var(--red);
}

.meniu > nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30vw;
    overflow: visible;
}

nav {
    height: 5vh;
    width: 25vw;
    column-gap: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    font-size: x-large;
}  

h1 {
    letter-spacing: 2px;
    font-size: 50px;
    text-align: center;
}

#kachow {
    font-size: x-large;
}

.trailer {
    width: 560px; 
    height: 315px;
}

@font-face {
    font-family: bangers;
    src: url("resources/bangers.ttf");
}

@font-face {
    font-family: work-sans;
    src: url("resources/work-sans.ttf");
}

.character {
    padding-left: 3vw;
    padding-right: 3vw;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}

.imagine-v {
    width: 20vw;
    float: right;
    margin-left: 2vw;
    border-radius: 2%;
    /* height: 70vh; */
}

.imagine-o {
    width: 30vw;
    float: right;
    margin-left: 2vw;
    border-radius: 2%;
}

.imagine-p {
    width: 40vw;
    float: right;
    margin-left: 2vw;
    border-radius: 2%;
}

iframe {
    display: block;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 3px solid var(--yellow);
    border-radius: 3%;
}


p, h3, h4, a, li {
    font-family: work-sans;
    color: var(--yellow);
    text-decoration: none;
}

h3 {
    text-decoration: underline;
    /* font-style: italic; */
}

p, li {
    font-size: 1.1vw;
}

h1, h2 {
    color: var(--yellow);
    font-family: bangers;
}

h2 {
    padding-left: 50px;
}

#mater, #doc, #sally {
    margin-bottom: 15vh;
}


h2:not(#kachow) {
    font-size: 30px;
    padding-top: 5vh;
    /* margin-top: 30vh; */
}

.link {
    display: block;
    width: 8vw;
    border: 1px solid var(--yellow);
    background-color: var(--red);
    color: var(--yellow);
    padding: 10px 10px;
    font-family: bangers;
}

.link:hover {
    filter: brightness(150%);
}


@media (orientation: landscape) and (max-width: 70em) {
    .imagine-o {
        height: 20vw;
    }
    .imagine-p {
        height: 30vw;
    }
    .imagine-v {
        width: 15vw;
    }
    iframe {
        transform: scale(80%);
    }
    .bonus {
        display: none;
    }
    h1, h2 {
        font-size: xx-large;
    }
    .link, #contact > p {
        font-size: medium
    }
}

@media (orientation: landscape) and (max-width: 40em) {
    .imagine-o {
        height: 15vw;
    }
    .imagine-p {
        height: 25vw;
    }
    .imagine-v {
        width: 15vw;
    }
    iframe {
        transform: scale(50%);
    }
    #kachow {
        display: none;
    }
    h1, h2 {
        font-size: large;
    }
    .link, #contact > p {
        font-size: 3vh;
    }
}

@media (orientation: portrait){
    .imagine-o {
        height: 25vw;
    }
    .imagine-p {
        height: 30vw;
    }
    .imagine-v {
        width: 50vw;
    }
    .meniu > nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .dropdown {
        margin-bottom: 4vh;
        margin-left: 3vh;
    }
    #logo {
        margin-right: 3vw;
        margin-bottom: 4vh;
    }
    .link {
        width: 25vw;
    }
    .line {
        height: 0.6vh;
        width: 10vw;
    }
    .meniu {
        position: static;
        height: 12vh;
    }
    h1, h2 {
        /* position: static; */
        padding-top: 5vh;
        text-align: center;
        font-size: xx-large;
    }
    #kachow{
        display: none;
    }
    .trailer {
        width: 80vw;
    }
    nav {
        padding-top: 2vh;
        align-self: start !important;
        flex-direction: column;    
        row-gap: 0.5vh;
    }
    p, li {
        font-size: 3vw;
    }
    .movie {
        padding-left: 7vw;
        padding-right: 7vw;
    }
    #img1 {
        transform: translate(80vw, 0) rotate(-6deg);
    }
    #img2 {
        transform: translate(0, 0);
    }
    #lumina {
        transform: translate(-51vw, 2vh);
    }
    #text {
        transform: translate(-150vw, -11vh) rotate(-10deg);
    }
}
/* 
@media (min-width: 140em) {
    p {
        font-size: 2vh;
    }
    h1, h2, h3, h4, #kachow, .link{
        transform: scale(200%);
    }
    .title {
        transform: scale(250%);

    }

} */

@media (prefers-reduced-data: reduce) {
    #lumina {
        display: none;
    }
}