body {
    --red: #631217;
    --yellow: #FFCA59;
    margin: 0;
    background-color: #575756;
    background: url(resources/bg.jpg) fixed 50% 50%; 
    background-repeat: repeat;
}

header {
    /* position: sticky; */
    /* top: 0; */
    z-index: 100;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    overflow: visible;
    
}

.animatie {
    margin-top: 17vh;
    display: flex;
    justify-content: center;
}

.pa {
    height: 20vh;
}

#img1 {
    transform: rotate(-6deg);
    animation: kchow1 3s linear 1s infinite;
    margin-left: 48vw;
    z-index: 5;
}

#img2 {
    opacity: 0;
    animation: kchow2 3s linear 1s infinite;
    transform: translateX(-17vw);
    z-index: 5;
}

#lumina {
    opacity: 0;
    display: inline-block;
    z-index: 10;
    transform: translate(-30vw, 0.75vw) scale(80%);
    animation: kchow3 3s linear 1s infinite;
}

#text {
    display: inline-block;
    z-index: 4;
    opacity: 0;
    transform: translate(-51vw, -5.5vw) rotate(-10deg);
    animation: kchow2 3s linear 1s infinite;
}

@keyframes kchow1 {
    0% { opacity: 0; }
    20% { opacity: 0; }
    21% {opacity: 1;}
}

@keyframes kchow2 {
    0% { opacity: 1;
    }
    20% { opacity: 1; }
    21% { opacity: 0; }
}

@keyframes kchow3 {
    0% { opacity: 90%; }
    20% { opacity: 90%; }
    21% {opacity: 0;}
}


.line {
    background-color: var(--yellow);
    height: 0.5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 2vw;
}

.dropdown {
    position: relative;
    /* margin-left: 10vw; */
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover > .dropdown-content {
    display: block;
}

#logo {
    height: 8vh;
    margin-left: 7vw;
}

footer {
    background-color: var(--red);
    margin-top: 60px;
    text-align: left;
    max-width: 100% !important;
    position: absolute;
    left: 0;
    width: 100vw;
}

.meniu {
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100vw;
    background-color: var(--red);
}

.meniu > nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30vw;
    overflow: visible;
}

nav {
    height: 5vh;
    width: 25vw;
    column-gap: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    font-size: x-large;
}

.filme {
    display: flex;
    flex-direction: row;
    column-gap: 4vw;
    justify-content: center;
}   

h1 {
    letter-spacing: 2px;
    font-size: 50px;
}


.film {
    width: 55vh;
    height: 50vh;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--yellow);
    border-radius: 5%;
    transition: 0.2s;
    overflow: scroll;
}

.title {
    font-size: large;
}

.poza, #doc > a > img {
    padding-top: 10px;
    width: 18vw;
}


#mater > a > img {
    /* height: 20vh; */
    width: 15vw;
}

p, h2, h3 {
    text-align: center;
}

#kachow {
    font-size: x-large;
}


.film:hover, .character:hover {
    box-shadow: 0 0 10px 8px red;
    transform: scale(105%);
}

#sally:hover {
    box-shadow: 0 0 10px 8px rgb(96, 159, 252);
}

#mater:hover {
    box-shadow: 0 0 10px 8px lightgrey;
}

#doc:hover {
    box-shadow: 0 0 10px 8px darkblue;
}

@font-face {
    font-family: bangers;
    src: url("resources/bangers.ttf");
}

@font-face {
    font-family: work-sans;
    src: url("resources/work-sans.ttf");
}


p, h3, h4, a {
    font-family: work-sans;
    color: var(--yellow);
    text-decoration: none;

    /* border: 5px solid red; */
}

h1, h2{
    color: var(--yellow);
    font-family: bangers;
    padding-left: 50px;
}

.link {
    display: block;
    width: 8vw;
    border: 1px solid var(--yellow);
    background-color: var(--red);
    color: var(--yellow);
    padding: 10px 10px;
    font-family: bangers;
}

.link:hover {
    filter: brightness(150%);
}

.poster {
    margin-left: 3.8vw;
    width: 20vw;
    height: 23vh;
    border-radius: 5%;
}

#character-title {
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

.personaje {
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 10%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 80% 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 20%;
    grid-template-areas: "a b" "c d";
}

.character {
    height: 40vh;
    width: 30vw;
    border: 2px solid var(--yellow);
    border-radius: 5%;
    transition: 0.2s;
    overflow: scroll;
    padding-left: 5px;
    padding-right: 5px;
}

.character > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (orientation: landscape) and (max-width: 70em) {
    .bonus {
        display: none;
    }
    .character {
        height: 32vh;
        width: 28vw;
    }
    .film {
        height: 35vh;
        width: 25vw;
    }
    .filme {
        padding-left: 5px;
        padding-right: 5px;;
    }
    h1, h2 {
        font-size: xx-large;
    }
    .poster {
        margin-top: 1vh;
        margin-left: 0;
        transform: scale(90%);
    }
    .link, #contact > p {
        font-size: medium
    }
}

@media (orientation: landscape) and (max-width: 40em) {
    .bonus, .title, #kachow {
        display: none;
    }

    .character {
        height: 32vh;
        width: 28vw;
    }
    .film {
        height: 35vh;
        width: 25vw;
    }
    .filme {
        padding-left: 5px;
        padding-right: 5px;;
    }
    h1, h2 {
        font-size: large;
    }
    .poster {
        margin-top: 1vh;
        margin-left: 0;
        transform: scale(90%);
    }
    .link, #contact > p {
        font-size: 3vh;
    }
}

@media (orientation: portrait){
    .meniu > nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .dropdown {
        margin-bottom: 4vh;
        margin-left: 3vh;
    }
    #logo {
        margin-right: 3vw;
        margin-bottom: 4vh;
    }
    .link {
        width: 25vw;
    }
    .line {
        height: 0.6vh;
        width: 10vw;
    }
    .meniu {
        position: static;
        height: 12vh;
    }
    .character {
        height: 32vh;
        width: 28vw;
    }
    .film {
        height: 35vh;
        width: 25vw;
    }
    h1, h2 {
        /* position: static; */
        padding-top: 5vh;
        text-align: center;
        font-size: xx-large;
    }
    #movies > h1, #character-title {
        padding-left: 0;
    }
    .poster {
        margin-left: 10vw;
    }
    #kachow{
        display: none;
    }
    nav {
        padding-top: 2vh;
        align-self: start !important;
        flex-direction: column;    
        row-gap: 0.5vh;
    }
    .personaje, .filme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5vh;
        padding-bottom: 5vh;
        padding-top: 5vh;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
    }
    .film {
        width: 80vw;
        height: 45vh;
    }
    .character {
        width: 80vw;
        height: 40vh;
    }
    .poster, .poza, #mater > a > img {
        width: 60vw;
        height: auto;
        /* height: 20vh; */
    }
    #doc > a > img {
        height: 12vh;
        width: auto;
    }
    #img1 {
        transform: translate(80vw, 0) rotate(-6deg);
    }
    #img2 {
        transform: translate(0, 0);
    }
    #lumina {
        transform: translate(-51vw, 2vh);
    }
    #text {
        transform: translate(-150vw, -11vh) rotate(-10deg);
    }
}
/* 
@media (min-width: 140em) {
    p {
        font-size: 2vh;
    }
    h1, h2, h3, h4, #kachow, .link{
        transform: scale(200%);
    }
    .title {
        transform: scale(250%);

    }

} */

@media (prefers-reduced-data: reduce) {
    #lumina {
        display: none;
    }
}